<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{ resources|safe }}

	<title>DEMO</title>
    {% if message %}
        <h4>{{ message }}!</h4>
    {% endif %}

    {% if test%}
        {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
        {% endfor %}
    {% endif %}

</head>


<body>
    <div>
        {% from "_formhelper.html" import render_field %}
        <form method="post">
            <dl>
                {{ render_field(form.search) }}
            </dl>
            <p><input type="submit" value="Search"></p>
        </form>
    </div>

    <div class="container">
        {{ div | safe }}
        {{ script | safe }}
    </div>
</body>
</html>