<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href= "{{ url_for('static',filename='hello.css') }}"/>
    <meta charset="UTF-8">
    {{ resources|safe }}

	<title>DEMO</title>
    {% if message %}
        <h2 align="center">{{ message }}!</h2>
    {% endif %}

    {% if test%}
        {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
        {% endfor %}
    {% endif %}

</head>


<body>
    <div class="center">
        {% from "_formhelper.html" import render_field %}
        <form method="post">
            <div class="col">
                {{ render_field(form.search) }}
                <input type="submit" value="Search">
            </div>
        </form>
    </div>

    <div class="container">
        {{ div | safe }}
        {{ script | safe }}
    </div>
</body>
</html>