<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='hello.css') }}"/>
    <meta charset="UTF-8">
    {{ resources|safe }}

	<title>DEMO</title>
    {% if message %}
        <h2 class="headertekst">{{ message }}!</h2>
    {% endif %}


</head>


<body>
    <div class="center">
        {% from "_formhelper.html" import render_field %}
        <form method="post">
            <div class="col">
                {{ render_field(form.search) }}
                <input type="submit" value="Search">
            </div>
        </form>
    </div>






    {% if not search %}
        <div align="center">
            {{ div | safe }}
            {{ script | safe }}
        </div>
    {% else %}
        <div class="wrapper">
        <div class="left">
          <div>
            {{ div | safe }}
            {{ script | safe }}
          </div>
        </div>

        <div class="right">
            {% for table in tables %}
                {{titles[loop.index]}}
                {{ table|safe }}
            {% endfor %}
        </div>
    {% endif %}


    </div>

</body>
</html>